mixin chat()
    .chat
        .chat__header
            .chat__avatar
            .chat__title
            button.button.chat__button-close
        .chat__body
            .chat__message-bubble
                .chat__avatar
                .chat__content
                    .chat__title {Chatbot.name}
                    .chat__message This is a long message written by the virtual assistant of SUMADI. This is a long message written by the virtual assistant of SUMADI.
                    .chat__time 10:21 am

            .chat__message-bubble.chat__message-bubble--from-user
                .chat__avatar
                .chat__content
                    .chat__title You
                    .chat__message This is my message...
                    .chat__time 10:22 am
        .chat__footer