.chat {
    background-color: $lightest-color;
    border-radius: 16px;
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;

    .chat__header {
        height: 82px;
        width: 100%;
        background-color: $color--fourth;
        border-radius: 16px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .chat__body {
        background-color: $lightest-color;
        padding: 32px;
        width: 100%;

        .chat__message-bubble {            
            display: flex;
            flex-wrap: nowrap;
            margin-bottom: 32px;

            .chat__avatar {                              
                flex-direction: row;
                border-radius: 50%;              
                width: 32px;
                height: 32px;
                min-width: 32px;
                min-height: 32px;
                max-width: 32px;
                max-height: 32px;
                margin-right: 24px;
                background-image: url(assets/img/Bot.png);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            
            .chat__content {
                flex-direction: column;
                align-items: flex-end;
                display: flex;
                width: 100%;

                .chat__title {
                    width: 100%;
                    font-weight: bold;
                }
                .chat__message {
                    width: 100%;
                    background-color: $color--fifth;
                    padding: 24px;
                }
                .chat__time {
                    
                }
            }
            
            &.chat__message-bubble--from-user {
                border-left: 3px solid $color--third;
                background-color: $color--sixth;
                margin: 0 -32px;
                padding: 32px;

                .chat__avatar {
                    border: 3px solid $color--third;
                    background-image: url(assets/img/User.png);
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
        }
    }
    .chat__footer {
        height: 82px;
        width: 100%;
        background-color: darken($lightest-color, 15%);
        border: 1px solid $color--fifth;
        border-radius: 0 0 16px 10px;
        box-shadow: 0 -3px 7px 0 rgba($darkest-color, 0.05);
    }
}

.chat-container {
    background-color: darken($color--primary, 20%);
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include media(desktop-s) {
        width: 535px;
        height: calc(100vh - 20%);
        bottom: 48px;
        right: 48px;
    }
}
