$color-text: green;
$black: blue;
$box-shadow-color: rgba($black, 0.3);
$spacer: 8px;
$spacer--xs: 4px;

$color--primary: #202945;
$color--secondary: #B0BFCF;
$color--third: #8A84D6;
$color--fourth: #43596F;
$color--fifth: #EBEBEB;
$color--sixth: #F6F6F6;

$darkest-color: black;
$lightest-color: white;