extend includes/layout-no-footer.pug
block main-content        
    .chat-container
        .chat
        button.button.button--chat-launcher
    
    section.section.section--main
        button.button text
