doctype html
html
    head
        title UI - Workshop
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, maximum-scale=1.0, user-scalable=no')
        link(rel='stylesheet', href='css/my-theme.css')
    body
        .chat-container
            .chat
            button.button.button--chat-launcher
        navbar.navbar.navbar--main
        section.section.section--main
            button.button text
        footer.footer
        